<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xu.mapper.EmpMapper">
    <select id="empQuery" resultType="com.xu.pojo.Emp">
        select e.*, d.name deptName from emp e left join dept d on e.dept_id = d.id
        <where>
            <if test="name != null and name !=''">
                and e.name like concat('%', #{name}, '%')
            </if>
            <if test="gender != null and gender != ''">
                and gender = #{gender}
            </if>
            <if test="begin != null">
                and entry_date &gt;= #{begin}
            </if>
            <if test="end != null">
                and entry_date &lt;= #{end}
            </if>
        </where>
    </select>
    <insert id="insertEmp" useGeneratedKeys="true" keyProperty="id">
        insert into emp
        (username, name, gender, phone, job, salary, image, entry_date, dept_id, create_time, update_time)
        values (#{username}, #{name}, #{gender}, #{phone}, #{job}, #{salary}, #{image}, #{entryDate}, #{deptId},
                #{createTime}, #{updateTime})
    </insert>
    <update id="update">
        update emp
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="job != null">
                job = #{job},
            </if>
            <if test="salary != null">
                salary = #{salary},
            </if>
            <if test="image != null and image != ''">
                image = #{image},
            </if>
            <if test="entryDate != null">
                entry_date = #{entryDate},
            </if>
            <if test="deptId != null">
                dept_id = #{deptId},
            </if>
            update_time = #{updateTime}
        </set>
        where id = #{id}
    </update>
    <insert id="batchInsertExpr">
        insert into emp_expr
        (emp_id, begin, end, company, job)
        values
        <foreach collection="exprList" item="expr" separator=",">
            (#{expr.empId}, #{expr.begin}, #{expr.end}, #{expr.company}, #{expr.job})
        </foreach>
    </insert>
    <delete id="deleteById">
        delete from emp
        where id in(
        <foreach collection="ids" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>
    <delete id="deleteEmpExpr">
        delete from emp_expr
        where emp_id in(
        <foreach collection="empIds" item="empId" separator=",">
            #{empId}
        </foreach>
        )
    </delete>
    <select id="getById" resultType="com.xu.pojo.Emp">
        select * from emp where id = #{id}
    </select>
    <select id="getEmpExprById" resultType="com.xu.pojo.EmpExpr">
        select * from emp_expr where emp_id = #{empId}
    </select>
</mapper>
